@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  max-width: 100%;
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
  color: black;
  text-decoration: none;
}

body {
  /* height: 100dvh;
  width: 100dvw; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content repeat(4, 1fr) min-content;
  gap: 10px 0px;
  grid-template-areas:
    "Header Header Header Header"
    "Main Main Main Main"
    "Main Main Main Main"
    "Main Main Main Main"
    "Main Main Main Main"
    "Footer Footer Footer Footer";
}

header {
  grid-area: Header;

  padding: 10px 20px;
  background: #e0f7fa;
  border-radius: 12px;
}

.logo-titulo {
  display: flex;

  align-items: baseline;
  width: 100%;
  justify-content: space-between;
  gap: 1rem;

  h1 {
    border: 3px solid black;
  }
}

.logo-imagen {
  border: 3px solid black;
  width: 50px;
  height: 100px;
}

main {
  grid-area: Main;
}

nav {
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.hoy {

  border: 1px solid;
  place-content: center;
  gap: 1rem;
  margin: 1rem;
}

.icono-clima {
  margin: auto;
}

.info-hoy {
  display: flex;
  margin: auto;
  flex-direction: column;
  gap: 1rem;
}

span {
  text-decoration: underline;
}

h2 {
  font-weight: 400;
}

.proximos {
  margin: 1rem;
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: [inicio] 1fr [col2] 1fr [fin];
  gap: 1rem;
  max-width: 90%;
  overflow-x: auto;

  /*  1rem -> 16px */
}

.dia img {
  width: 50px;
}

.dia {
  display: grid;
  grid-template-columns: subgrid;
  border: 1px solid rgba(217, 217, 217, 1);
  min-width: 100px;
  max-width: 200px;
  padding: 1rem;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 2px 5px 0px rgba(217, 217, 217, 1);
}

.dia:hover {
  background: rgba(217, 217, 217, 1);
}

footer {
  grid-area: Footer;
}

footer p::after {
  content: " 🌞";
}

footer p::before {
  content: "🌞 ";
}

.contenido {
  padding: 0 auto;
  margin: 0 auto;
  max-width: 70%;
}

.proximos__dia__contenedor {
  background: salmon;
  border-radius: 12px;
  padding: 12px 10px 6px 5px;
  margin: 12px 0;

  p,
  h3 {
    color: white;
  }

  h3 {
    font-weight: 400;
  }
}

.proximos__dia__imagen {
  display: flex;
  margin: auto;
}

.contenedor_de_ejemplos_box_sizing {
  display: flex;
  background: yellow;
  justify-content: center;
  gap: 6px;
}

.box-sizig-border-box-ejemplo-sin-aplicar {
  /* display: flex;
  flex-direction: row; */
  padding: 1rem;
  background: skyblue;
  border: 5px solid;
  height: 200px;
  width: 200px;
  /* flex-basis: 200px; */
}

.box-sizig-border-box-ejemplo-con-aplicacion {
  /* display: flex;
  flex-direction: column; */
  box-sizing: border-box;
  border: 5px solid;
  padding: 1rem;
  height: 200px;
  width: 200px;
  background: lightgreen;
  /* flex-basis: 200px; */
}

@media only screen and (min-width: 768px) {
  /* .hoy {
    grid-template-columns: 1fr 2fr;
  }

  .proximos {
    grid-template-columns: [inicio] 1fr [col2] 1fr [col3] 1fr [col4] 1fr [fin];
  } */
}

@media only screen and (min-width: 1200px) {
  .logo-imagen {
    width: 500px;
  }

  .logo-titulo {
    font-size: 42px;
  }

  nav ul li a {
    font-size: 32px;
  }
}
